body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }

  main{
    margin-top: 6em;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: space-around;
    margin-left: 1em;
    margin-right: 1em;
    right: 10%;
  }
  
  button:hover {
    background-color: #45a049;
  }

  mat-card-title{
    font-size: 3em;
  }


  
  @media (max-width: 600px) {
    header h1 {
      font-size: 2.5rem;
    }
  
    p {
      font-size: 1.2rem;
    }
  
    button {
      font-size: 1rem;
    }
  }
  