@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    font-family: "Lato", sans-serif;
  }

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

.header {
  height: 100px;
  background-color: #ef5350;
  color: #fff;
  text-align: center;
  width: 100%;
}

.header img {
  width: 100px;
  display: flex;
  position: absolute;
  left: 40px;
  top: 0px;
}

.zonaNav {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.zonaNav a {
  padding: 17px;

  position: relative;
  top: 13px;
  right: 0;

  color: #fff;

  font-size: 15px;
  text-decoration: none;

  height: 50px;

  align-items: center;

  font-family: "Lato", sans-serif;
}

.zonaNav a:hover {
  background-color: #E94141;
}

.producto {
  margin-left:15px ;
  margin-right:15px ;
  margin-bottom: 20px;
  text-align: center;

  border: 1px solid grey;
}

.producto img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  padding: 20px;

  border-bottom: 3px solid grey;
}