<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    <img class="brand-logo" src="assets/tron.jpg" alt="positronX.io Logo">
  </a>
  <mat-toolbar color="primary">
    <button mat-button routerLink="/dashboard">Home</button>
    <button mat-button routerLink="/productos">Productos</button>
    <button mat-button routerLink="/contacto">Contacto</button>
  </mat-toolbar>
</nav>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DuoStore</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Bienvenido a DuoStore</h1>
    </header>
    <main>
      <p>La tienda para todas tus necesidades</p>
      <button mat-raised-button color="primary" [routerLink]="['/productos']">Shop Now</button>
      <br>

      <img src="../../assets/MG_3363.webp" alt="Shop Now" class="shop-now-image">
    </main>
  </div>
</body>
</html>
